* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

html {
	font-family: 'Courier New', Courier, monospace;
}

body {
	background-color: cornsilk;
	max-width: 800px;
	padding: 15px;
	height: 100%;
}

body .content > :last-child {
	margin-bottom: 0;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	margin-bottom: 16px;
}

a {
	text-decoration: dotted;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.header, .main, .footer {
	padding: 15px;
	margin-bottom: 20px;
	border: 4px dashed purple;
}

.footer p {
	margin: unset;
}

.navbar {
	display: flex;
	max-width: max-content;
	align-items: center;
}

.navbar ul {
	all: unset;
}

.logo {
	margin-top: 5px;
}

.navbar li {
	display: inline-block;
	font-size: 24px;
	line-height: 1;
	vertical-align: middle;
}

.navbar a,
.navbar a:visited,
.navbar a:focus,
.navbar a:hover
 {
	background-color: chartreuse;
	padding: 0 20px;
	color: black;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery .column {
	max-width: 49.5%;
}

.gallery .column:nth-child(2n + 1) {
	padding-right: 1%;
}
/*.gallery .column:nth-child(2n) {
	padding-left: 0.5%;
} */

.gallery .column .image {
	padding-bottom: 10px;

}
.gallery .column img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	vertical-align: top;
}